//---------------------------------------------------------------------------
//
// Name:        Project7App.rc
// Author:      formando39
// Created:     05/12/2019 14:30:47
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
